 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a 25 year old freelancer with a rich history. I'd recommand just looking at my portfolio and contacting me for more information.</p>
                </div>
                <div class="col-lg-4">
                    <p>I started my carriere with a love for technology, games & fresh mind for teamwork. With years and years of experience in all, I try to be the best in every aspect. </p>
                </div>
                <div class="col-lg-4">
                    <p>I also have a strong opinion about games ¯\_(ツ)_/¯ You can check that out at my blog. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Blog me away
                    </a>
                </div>
            </div>
        </div>
    </section>
